:root {
    --bgC: 241,245,249; /*#F1F5F9*/
    --contanerC: 246,250,254;   /*#F6FAFE*/
    --text: 0,0,0;  /*#000*/
    --subtext: 148,163,184; /*#94A3B8*/
    --button: 254,254,254;  /*#FEFEFE*/
    --resolve: 105,168,35;  /*#69A823*/
    --reject: 238,56,59;    /*#EE383B*/
}
/* html {
    font-size: 32px;
} */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--bgC));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
    font-size: 2rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    font-size: 0.8rem;
}
.hidden {
    /* display: none!important; */
    transform: scale(0)!important;
    transition: all 0.3s ease-in;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(var(--contanerC));
    border-radius: 5px;
    transition: all 0.5s ease-in;
    transform: scale(1);
}
.containerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(var(--contanerC));
    border-radius: 5px;
    transform: scale(1);
}
button {
    color: rgb(var(--text));
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid rgb(var(--text));
    border-radius: 5px;
}
button:hover {
    transform: scale(0.95);
    transition: all 0.2s ease-out;
}
button.disabled {
    color: rgb(var(--text));
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px dotted rgb(var(--text));
    border-radius: 5px;
}
button.disabled:hover {
    transform: scale(1);
}
button.cross {
    width:2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
}
button.cross::before, button.cross::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background-color: rgba(var(--subtext), 0.5);
    border-radius: 0.1rem;
    position: absolute;
    top:  50%;
    left: 50%;
    translate: -50% -50%;
}
button.cross::before {
    rotate: 45deg;
}
button.cross::after {
    rotate: -45deg;
}
button.cross:hover::before, button.cross:hover::after{
    background-color: rgba(var(--subtext), 1);
}
.fade-in {
    transform: scale(0);
    transition: all 5s ease-in-out;
  }
  
.fade-in.active {
    transform: scale(1);
}

/* middle? */