html {
    font-size: 16px;
}

h1 {
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
h4 {
    font-size: 1.563rem;
}
h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

input {
    border: 1px solid #000;
}
button {
    border: 1px solid #000; 
}